<h1>Pokemon#new</h1>
<p>Add the Pokemon You Caught!</p>
<form action="/pokemon" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="">Pokemon Name</label>
  <input type="text" name="name">
  <label for="">Species</label>
  <input type="text" name="species">
  <label for="">Level</label>
  <input type="number" name="level">
  <label for="">Image URL</label>
  <input type="text" name="image_url">
  <button>Gotta Catch Em All!</button>
</form>
